/* Scrollbar inspired by https://www.youtube.com/watch?v=lvKK2fs6h4I */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');


body
{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right, #712cf9, #9220f6);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: overlay;
    user-select: none;
}

.login-card
{
    width: 400px;
    background: rgba(255, 255, 255, .5);
    padding: 3rem;
    border-radius: 10px;
    position: relative;
}

.login-card-logo
{
    margin-bottom: 1.5rem;
}

.login-card-logo img
{
    width: 70px;
}

.logo-font
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    padding-left: 2px;
}

.login-card-logo,
.login-card-header,
.login-card-footer
{
    text-align: center;
}

.login-card-logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.login-card a:hover
{
    text-decoration: underline;
}

.login-card-header
{
    margin-bottom: 2rem;
}

.login-card-header h1
{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.login-card-header h1 + div
{
    font-size: calc(1rem * .8);
    opacity: .8;
}

.login-card-form
{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-card-form .form-item
{
    position: relative;    
    transition: background .5s;
    border-radius: 100px;
}

.login-card-form .form-item .form-item-icon
{
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;    
}

.login-card-form .checkbox
{
    display: flex;
    align-items: center;
    gap: 7px;
}

.login-card-form .form-item-other
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: .5rem;
}

.login-card-footer
{
    margin-top: 1.5rem;
    font-size: calc(1rem* .8);
}

.login-card input[type="text"],
.login-card input[type="password"],
.login-card input[type="date"],
.login-card input[type="color"]
{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 1.5rem;
    padding-left: calc(1.5rem * 2.5);
    border-radius: 100px;
    width: 100%;
    height: 47px;
    transition: background .5s;
}

input[type=password]:not(:placeholder-shown) 
{
    font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.inner-text-dropdown
{
    position: relative;
    top: 0px;
    left: 40px;

}

#text-color
{
    font-size: calc(1rem * .8);
    opacity: .8;
    text-align: center;
    margin-top: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper 
{
	padding: 0;
    height: 15px;
    width: auto;
}

input[type="color"]::-webkit-color-swatch 
{
	border: none;    
    border-radius: 10px;
}

.opt-1-container,
.opt-2-container
{
    display: flex;
    align-items: center;
}

.options-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

::-webkit-calendar-picker-indicator
{
    width: 120px;   
}

.login-card input:focus
{
    background: white;
}

.input-category-focus
{
    background: white;
    border: none;
    outline: none;
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
    opacity: 1;
}

.login-card input[type="radio"]
{
    width: 16px;
    height: 16px;
    accent-color: black;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.text-radio
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.login-card-form button
{
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.login-card-form button:hover
{
    background-color: rgba(0, 0, 0, .85);
    cursor: pointer;
}

#bt-exp
{
    background: rgb(240, 0, 0);
    border: rgb(240, 0, 0);
    outline: rgb(240, 0, 0);
}

#bt-inc
{
    background: rgb(40, 200, 15);
    border: rgb(40, 200, 15);
    outline: rgb(40, 200, 15);
}

#bt-exp:hover
{
    background-color: rgba(240, 0, 0, 0.8);
}

#bt-inc:hover
{
    background-color: rgba(40, 200, 15, 0.8);
}

/* Dropdown */

.select-menu
{
    width: auto;
    margin: 0;
    height: 47px;
    z-index: 12;
}

.select-menu .select-btn
{
    font-size: calc(1rem * .8);
    display: flex;
    height: 47px;    
    background: rgba(255, 255, 255, .3);
    padding: 20px;
    border-radius: 50px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: background .5s;
}

.select-menu.active .select-btn .inner-text-dropdown
{
    position: relative;
    top: 0;
    left: 16px;
}

.select-btn i
{
    font-size: 25px;
    transition: 0.3s;
}

.select-menu.active .select-btn i
{
    transform: rotate(-180deg);
}

#input-category-container
{
    width: 0;
    height: 0;
}

#input-category
{
    visibility: hidden;
}

.options
{   
    width: 300px; 
    height: 200px; 
    overflow: overlay;
    border-radius: 8px;
    z-index: 12;
}

.select-menu .options
{
    position: relative;
    padding: 11px 14px 11px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}

.select-menu.active .options
{
    display: block;
}

.options .option
{
    display: flex;
    height: 35px;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
    margin-block: 3px;
    margin-right: 18px;
}

.options .option:hover
{
    background: #F2F2F2;
}

.option i
{
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text
{
    font-size: calc(1rem * .8);
    color: #333;
    margin-left: 13px;
}

.container-icon-text
{
    display: flex;
    align-items: center;
}

/* End dropdown */

/* Scrollbar */

::-webkit-scrollbar 
{
    width: 1em;
    background-color: transparent;
}
  
::-webkit-scrollbar-track 
{
    background: transparent;
    margin-block: .5em;
}

::-webkit-scrollbar-thumb 
{
    background: rgba(255, 255, 255, .3);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover 
{
    background: rgba(255, 255, 255, .4);
}

/* End scrollbar */

/* Scrollbar dropdown */

.options::-webkit-scrollbar 
{
    width: 1em;
    background-color: transparent;
    margin-block: 1em;
}
  
.options::-webkit-scrollbar-track 
{
    background: white;
    margin-block: .8em;
}

.options::-webkit-scrollbar-thumb 
{
    background: rgba(135, 135, 135, 0.3);
    border-radius: 100vw;
}

.options::-webkit-scrollbar-thumb:hover 
{
    background: rgba(135, 135, 135, 0.5);
}

/* End scrollbar dropdown */

/* error.html */

.box-error
{
    width: 400px;
    background: rgba(255, 255, 255, .5);
    padding: 3rem;
    border-radius: 10px;
}

.logo-error
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-error
{
    width: auto;
    margin: 0 0 0 10px;
    font-size: 2.5rem;
    font-weight: 600;
}

.message-error
{
    margin-top: 30px;
    text-align: center;
    opacity: .8;
}