@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@300;500&display=swap');


.logo
{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.logo-font
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-decoration: none;
    padding-left: 2px;
}

.amount 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.amount input
{
    border: none;
    outline: none;
    border-bottom-style: solid;
    width: 200px;
    text-align: right;
    margin-left: 50px;
}

.categories 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px 20px;
}

.text-categories
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-center
{
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.expense-form button
{
    margin-top: 50px;    
    color: white;
    padding: .5rem;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    width: 200px;
}

#bt-exp
{
    background: rgba(255, 2, 9, 1);
}

#bt-inc
{
    background: rgba(0, 194, 18, 1);
}

#bt-exp:hover
{
    background-color: rgba(255, 2, 9, 0.82);
}

#bt-inc:hover
{
    background-color: rgba(0, 194, 18, 0.82);
}

.date
{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
}