@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@300;500&display=swap');


.logo
{
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.logo-font
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-decoration: none;
    padding-left: 2px;
}

.amount 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.amount input
{
    border: none;
    outline: none;
    border-bottom-style: solid;
    width: 200px;
    text-align: right;
    margin-left: 50px;
}

.categories 
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px 20px;
}

.text-categories
{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-center
{
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.expense-form button
{
    margin-top: 50px;    
    color: white;
    padding: .5rem;
    border-radius: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    width: 200px;
}

#bt-exp
{
    background: rgba(255, 2, 9, 1);
}

#bt-inc
{
    background: rgba(0, 194, 18, 1);
}

#bt-exp:hover
{
    background-color: rgba(255, 2, 9, 0.82);
}

#bt-inc:hover
{
    background-color: rgba(0, 194, 18, 0.82);
}

.date
{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

/* Progress bar */

.container-bars
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bars
{
    width: 1200px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.all
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-bar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.circle-wrap
{
    display: grid;
    grid-template-columns: repeat(1, 160px);
    grid-gap: 80px;
    margin-top: 10px;
    width: 145px;
    height: 145px;
    background: #d9d7da;
    border-radius: 50%;
}

.circle-wrap .circle .mask
{
    width: 145px;
    height: 145px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask 
{
    clip: rect(0px, 145px, 145px, 75px);
}

.circle-wrap .inside-circle 
{
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: white;
    line-height: 120px;
    text-align: center;
    margin-top: 13px;
    margin-left: 13px;
    color: black;
    position: absolute;
    z-index: 100;
    font-weight: 600;
    font-size: 2em;
}

#total-balance
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

#text-expenses
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-top: 18px;

}

.name-bar p
{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.table-container
{
    margin: 60px;
}

.table-center-text
{
    vertical-align: middle;
}

.table-center-text-and-icons
{
    vertical-align: middle; 
    display: flex; 
    align-items: center;
}

#balance-number
{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.total-income-expenses-container
{
    display: flex;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
}