{% extends "login-layout.html" %}

{% block title %}
    Add Income
{% endblock %}

    {% block main %}
    <div class="login-card-header">
        <h1>Add Income</h1>
        <div>Please fill out this form</div>
    </div>
    <form class="login-card-form" action="/add-income" method="post">
        <div class="form-item" id="1">
            <span class="form-item-icon material-symbols-rounded">attach_money</span>
            <input type="text" name="amount" placeholder="Enter Amount" required autofocus autocomplete="off">
        </div>
        <div class="form-item" id="categories-dropdown">
            <div class="select-menu" id="2">                
                <div class="select-btn">
                    <div class="container-icon-text">
                        <span class="form-item-icon material-symbols-rounded">list</span>
                        <p class="inner-text-dropdown" id="4">Select a Category</p>
                    </div>                    
                    <i class="bx bx-chevron-down"></i>
                </div>        
                <ul class="options">
                    {% for i in range(categories|length) %}
                    <li class="option">
                        <span class="material-symbols-outlined" style="font-size: 20px; margin-left: 3px ;margin-right: 5px;">{{categories[i]["icon"]}}</span>
                        <span class="option-text">{{categories[i]["name"]}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>      
        <div class="cont-text-date">
            <p id="text-color">Choose a Date</p>  
            <div class="form-item" id="3">
                <span class="form-item-icon material-symbols-rounded" id="7">calendar_month</span>
                <input type="date" name="date" max="{{date}}" id="input-date" required>
            </div>  
        </div>        
        <div id="input-category-container">
            <input type="text" value="" name="category" id="input-category">
        </div>
        <button type="submit" id="bt-inc">Add Income</button>
    </form>

    <!-- JavaScript -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="/static/dropdown.js"></script>

{% endblock %}