<!-- Circular progress bars inspired by https://www.youtube.com/watch?v=8a9f8hG6M5A&t=13s -->
{% extends "layout.html" %}

{% block head %}
<style>

    :root
    {
        {% for i in range(categories|length) %}
            --color-bar{{i + 1}}: {{ categories[i]["color"] }};
        {% endfor %}
    }

    {% for i in range(categories|length) %}

        .circle-wrap .circle .fill-{{ i + 1 }}
        {
            width: 145px;
            height: 145px;
            position: absolute;
            border-radius: 50%;
        }

        .mask .fill-{{ i + 1 }} {
            clip: rect(0px, 75px, 150px, 0px);
            background-color: var(--color-bar{{i + 1}});
        }

        .mask.full-{{ i + 1}},
        .circle .fill-{{ i + 1 }} 
        {
            animation: fill-{{ i + 1 }} ease-in-out 1.5s;
            transform: rotate({{ 120 }}deg);
        }

        @keyframes fill-{{ i + 1 }} 
        {
            0% 
            {
                transform: rotate(0deg);
            }
            100% 
            {
                transform: rotate({{ 120 }}deg);
            }
        }

    {% endfor %}
</style>
{% endblock %}

{% block title %}
    Balance
{% endblock %}

{% block main %}
    <main>
        <p id="balance-number">Your Balance: {{ balance|usd }}</p>
        <div class="total-income-expenses-container">
            <p>Total Income: {{ income_number|usd }}</p>
            <p>Total Expenses: {{ expenses|usd }}</p>
        </div>
        <p id="text-expenses">Income by category</p>
        <div class="container-bars"> 
            <div class="bars">        
                {% for i in range(categories|length) %}
                <div class="all">
                    <div class="name-bar">
                        <span class="material-symbols-outlined" style="margin-right: 3px;">
                            {{ categories[i]["icon"] }}
                        </span>
                        <p>
                            {{ categories[i]["name"] }}
                        </p>
                        <div class="circle-wrap">
                            <div class="circle">
                                <!-- 1st part -->
                                <div class={{ mask[i] }}>
                                    <div class={{ fill[i] }}></div>
                                </div>
                                <!-- 2nd part -->
                                <div class="mask half">
                                    <div class={{ fill[i] }}></div>
                                </div>
                                <!-- Number -->
                                <div class="inside-circle">{{categories[i]["percentage"]}}%</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>   
    </main>
{% endblock %}