{% extends "layout.html" %}

{% block title %}
    Add Category
{% endblock %}

{% block main %}

    <main class="container-fluid py-5 text-center">
        <p class="amount">Add a New Category</p>
        <form action="/category" method="post">
            <div class="type-categories">
                <p class="type">Select a Type</p>

                <input type="radio" class="form-check-input" name="type" id="1" value="expense" required>
                <label for="1" class="value-checkbox-type form-check-label item-center">Expense</label>

                <input type="radio" class="form-check-input form-check-label item-center" name="type" id="2" value="income" required>
                <label for="2" class="value-checkbox-type">Income</label>
            </div>
            <div>
                <p class="categories">Choose a Name</p>
                <input type="text">
            </div>
            <div>
                <p class="categories">Pick a Color</p>
                <input type="color">
            </div>
        </form>
    </main>

{% endblock %}