{% extends "login-layout.html" %}

{% block title %}
    Add Expense
{% endblock %}

{% block head %}
    {% endblock %}

{% block main %}
    <div class="login-card-header">
        <h1>Add Expense</h1>
    </div>
    <form class="login-card-form" action="/expense" method="post">
        <div class="form-item">
            <span class="form-item-icon material-symbols-rounded">attach_money</span>
            <input type="text" name="amount" placeholder="Enter Amount" required autofocus autocomplete="off">
        </div>
        <div class="form-item" id="categories-dropdown">
            <div class="select-menu">
                <div class="select-btn">
                    <span class="sBtn-text">Select a Category</span>
                    <i class="bx bx-chevron-down"></i>
                </div>        
                <ul class="options">
                    {% for i in range(categories|length) %}
                    <li class="option">
                        <span class="material-symbols-outlined">{{categories[i]["icon"]}}</span>
                        <span class="option-text">{{categories[i]["name"]}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>      
        <div class="form-item">
            <input type="date" name="date">
        </div>        
        <div id="input-category-container">
            <input type="text" value="" name="category" id="input-category">
        </div>  
        <button type="submit" id="bt-exp">Add Expense</button>
    </form>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="/static/sendCategory.js"></script>
    <script src="/static/dropdown.js"></script>
{% endblock %}