{% extends "layout.html" %}

{% block title %}
    Add Expense
{% endblock %}

{% block main %}
    <main class="container-fluid py-5 text-center">
        <form action="/expense" class="expense-form" method="post">
            <div class="amount">
                Amount
                <input type="text" placeholder="$" name="amount" required autocomplete="off">
            </div>
            <p class="categories">Select a category</p>
            <div class="categories">
                {% for i in range(categories|length) %}
                    <div class="text-categories">
                        <input class="form-check-input" type="radio" name="category" id={{categories[i]["name"]}} value={{categories[i]["id"]}} required>
                        <label class="form-check-label item-center" for={{categories[i]["name"]}}>
                        <span class="material-symbols-outlined" style="margin-right: 3px;">
                            {{ categories[i]["icon"] }}
                        </span>
                        {{ categories[i]["name"] }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="date">
                Date: 
                <input type="date" name="date" required>
            </div>
            <button type="submit" id="bt-exp">Add Expense</button>
        </form>
    </main>
{% endblock %}